<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Flask 5052 - Controle por JSON</title>
    <style>
      body {
        font-family: Arial;
        padding: 20px;
      }
      button {
        padding: 10px 14px;
        cursor: pointer;
      }
      button[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
      pre {
        background: #f6f6f6;
        padding: 12px;
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
    <h2>Criar TXT (controle por status.json)</h2>

    <button id="btn">Criar TXT</button>
    <button id="action2">Criar TXT 2</button>

    <h3>Status:</h3>
    <pre id="out">Carregando...</pre>

    <script>
      const btn = document.getElementById('btn')
      const action2 = document.getElementById('action2')
      const out = document.getElementById('out')

      async function carregarStatus() {
        const r = await fetch('/status/1')
        const s = await r.json()
        out.textContent = JSON.stringify(s, null, 2)

        if (s.ok === true) {
          btn.disabled = true
          btn.textContent = 'Ação já executada'
        }
        const r2 = await fetch('/status/2')
        const s2 = await r2.json()
        out.textContent = JSON.stringify(s2, null, 2)

        if (s2.ok === true) {
          action2.disabled = true
          action2.textContent = 'Ação já executada'
        }
      }

      action2.onclick = async function () {

        out.textContent = 'Executando...'
        
        const r = await fetch('/criar-txt-2', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ token: 'troque-este-token' }),
        })
        
        const data = await r.json()
        out.textContent = JSON.stringify(data, null, 2)
        console.log(`ok`, data)

        await carregarStatus()
      }

      btn.addEventListener('click', async () => {
        out.textContent = 'Executando...'

        const r = await fetch('/criar-txt', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ token: 'troque-este-token' }),
        })

        const data = await r.json()
        out.textContent = JSON.stringify(data, null, 2)

        await carregarStatus()
      })

      carregarStatus()
    </script>
  </body>
</html>
